/* * {
  margin: 0;
  padding: 0;
} */
html,body{
  height:100%;
  min-height: 100%;
}
body{
  margin: 0;
  background-image: url('../images/light-fx.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
}

.logo a {
  top: 40%;
   left: 50%;
   margin-right: -50%;
   position: absolute;
   transform: translate(-50%, -50%)
}
img{
  width: 210px;
  height: 210px;
}

#logo-hov:hover {
  /*transition: all 0.3s; /*applies to all pictures*/
  transform: scale(1.1);
  transition: width 3s, height 3s, transform 0.4s;
}

#logo-hov {
  opacity: 4;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  /*for safari*/
  filter: drop-shadow(5px 5px 5px #222);
}





@media screen and (max-width: 600px) {
  img{
    height:150px;
    width:150px;
  }

}